body {
    background-color:lightsalmon;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor-galeria {
    display: grid;
    place-items: center;
    width: 1500px;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 400px;
}

.contenedor-imagen {
    position: relative;
    left: 0;
    width: 80px;
    border-radius: 5px;
    height: 150px;
    overflow: hidden;
    background-color:chartreuse;
    transition: 0.4s ease-in-out;
    box-shadow: 0 5px 12px rgb(0, 0, 0, 0.5);
    flex: 0.25;
}

.contenedor-imagen img {
    height: 150px;
    width: 100px;
    object-fit: cover;
}

.contenedor-imagen:hover {
    flex: 2;
    cursor: pointer;
    border-radius: 8px;
}
